<div class="text-center">
  <!-- 头像 -->
  <img src="https://github.com/mumoozie.png" alt="GitHub Avatar"
    class="img-fluid rounded-circle border border-3 border-body mb-4" style="width: 150px; height: 150px;">
  
  <!-- 个人信息 -->
  <h2 class="mb-2">Yipeng</h2>
  <p class="text-body-secondary mb-3">唐虞揖逊三杯酒，汤武征诛一局棋。</p>
  
  <!-- 联系方式图标 -->
  <div class="d-flex justify-content-center gap-4">
    <!-- Email -->
    <a href="mailto:yipeng.li.infinite@gmail.com" class="text-body text-decoration-none">
      <i class="bi bi-envelope" style="font-size: 2rem;"></i>
    </a>
    <!-- GitHub -->
    <a href="https://github.com/MoozieLee" class="text-body text-decoration-none" target="_blank">
      <i class="bi bi-github" style="font-size: 2rem;"></i>
    </a>
    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/yipeng-li-infinite/" class="text-body text-decoration-none" target="_blank">
      <i class="bi bi-linkedin" style="font-size: 2rem;"></i>
    </a>
  </div>
</div>
